
@mixin displayContentCenter {
  display: flex;
  justify-content: center;
}

@mixin flexJustifyStart {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
@mixin flexJustifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
