@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin displayContentCenter {
  display: flex;
  justify-content: center;
}

@mixin flexJustifyStart {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
