$color-primary: #24292e;
$color-secondary: #444d56;
$color-success: #8bc34a;
$color-failure: #db4949;
$color-gray-500: #6a737d;
$color-text-help: #959da5;
$color-white: #ffffff;
$color-border-light: #e1e4e8;
$color-border-dark: #d1d5da;
