@import "../../sass/base/variables";
@import "../../sass/base/mixins";

.card {
  width: 301px;
  height: 213px;
  border-radius: 4.556px;
  border: 1px solid $color-border-light;
  background-color: $color-gray-025;
  padding: 24px 26px 24px 24px;
  display: flex;
  justify-content: start;
  &__img {
    height: 48px !important;
    width: 60px !important;
    border-radius: 50%;
    margin-right: 12px;
    background-color: yellowgreen;
    @include flexJustifyAlignCenter;
    img {
      height: 24px;
      width: 24px;
    }
  }
  &__data {
    width: 100%;
    &--heading {
      margin-bottom: 16px;
      h2 {
        margin-bottom: 6px;
      }
    }
    &--stock {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      border-bottom: 1px solid $color-border-light;
      // &-value {
      //   margin-bottom: 6px;
      // }
      // &-text {
      //   margin-bottom: 12px;
      //   color: $color-gray-500;
      // }
    }
    &--amount {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      &-value {
        color: $color-primary;
      }
      &-text {
        color: $color-gray-500;
      }

      &-buy {
        border-right: 1px solid $color-border-light;
      }
      &-sell {
      }
    }
  }
}
.col-green {
  color: $color-success;
}
.col-red {
  color: $color-failure;
}
